@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700');
:root {
    --bg: #161616 url(bg.png);
    --panel-bg: #313031;
    --frame-bg: #242324;
    --title-color: #ffe6c0;
    --body-color: #fff;
    --input-color: #1d1c1d;
    --infotext-color: #75dafb;
    --disabled-color: #b3b1b3;
    --factorio-orange: #ffae00;
    --cancel-red: #fe4d4d;
    --orange-border: 2px solid var(--factorio-orange);
    --blur-color: #251c13;
    --font-scale: 1;
    --end-marks: 
        linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent 4px),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.15), transparent 4px),
        repeating-linear-gradient(to right, transparent, transparent 4px, #373637 4px, #3b3a3b 6px, #373637 8px),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.1), transparent 4px),
        linear-gradient(to top, rgba(255, 255, 255, 0.15), transparent 4px),
        repeating-linear-gradient(to right, #2a2a2a, #2d2c2d 2px, #2a2a2a 4px)
    ;
}

body {
    margin: 0;
    background: var(--bg);
    font-family: "Titillium Web", sans-serif;
    color: var(--body-color);
    font-weight: 400;
}

body * {
    font-size: calc(var(--font-scale) * var(--rel-size, 28px));
}

strong, .fio-h1, .fio-h2 {
    font-weight: 700;
}

.fio-h1, .fio-h2 {
    color: var(--title-color);
}

.fio-h1 {
    --rel-size: 36px;
    line-height: 2ch;
    height:calc(48px * var(--font-scale));
    margin-right: auto;
    padding-right: 30px;
    background-color: var(--panel-bg);
    z-index: 1;
}

p {
    margin: 1em 0 0;
}

.fio-row {
    display: flex;
    flex-direction: row;
}

hr {
    border: none;
    overflow: visible;
    --hr-width: 10px;
    width: calc(100% + var(--hr-width) * 2);
    margin-left: calc(var(--hr-width) * -1);
    height: 4px;
    background-image: linear-gradient(#111, #686868);
}

hr.fio-full-width {
    --hr-width: 20px;
}

/* Containers: panel, frame, section, blue-frame */

.fio-panel {
    display: flex;
    flex-direction: column;
    background: var(--panel-bg);
    box-shadow: 
        0 0 25px 0 #000, 
        inset 12px 0 3px -11px rgba(0, 0, 0, 0.5), 
        inset -12px 0 3px -11px rgba(0, 0, 0, 0.5), 
        inset 0 -12px 2.5px -9px rgba(0, 0, 0, 0.5), 
        inset 0 12px 4px -9px rgba(230, 240, 255, 0.25), 
        inset 0 2px 8px 2px var(--blur-color)
    ;
    margin: 15px;
    padding: 20px;
}

/*  I will have to change this later since sometimes there's buttons
    in this area. Either add a class to look for that tells the panel
    it has buttons in it, or make a div that holds this thing and 
    optionally holds buttons */

.fio-panel::after {
    content: '';
    height: calc(64px * var(--font-scale));
    width: 100%;
    background-image: var(--end-marks);
}

.fio-panel::before {
    content: '';
    position: absolute;
    top: 35px;
    height: calc(48px * var(--font-scale));
    width: calc(100% - 70px);
    background-image: var(--end-marks);
}

/* Input types: text, checkbox, checkbox.fio-switch, radio */
input[type=checkbox].fio-switch::before {
    content: attr(data-off);
}

input[type=checkbox].fio-switch::after {
    content: attr(data-on);
}